<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postage Rate Result</title>
</head>
<body>
    <h1>Postage Rate</h1>
    <h3> <%= mail %></h3>
    <p>Weight: <%= weight %>(oz)</p>
    <p>Price: $<%= result%></p>
</body>
</html>