body, h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  background-color: rgb(25, 27, 26);
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  color: aliceblue;
  width: 120px;
  background: #222;
}



/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {margin-left: 0}
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

